@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Cuprum');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

html {
    display: table;
    height: 100%;
    width: 100%
}

body {
    display: table-cell;
    vertical-align: middle;
    background: url("background.png") fixed;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    min-width: 700px;
    overflow-y: scroll
}

.blue-div, .gray-div, .brown-div {
    padding: 10px 20px;
    color: white;
    display: inline-block;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    border-radius: 4px;
    font-family: roboto, arial, sans-serif;
    margin-top: 30px;
    position: relative
}

.blue-div {
    background-color: cadetblue;
    font-size: 30px
}

.blue-div:after, .gray-div:after, .brown-div:after {
    content: '';
    background: url("hat.png") no-repeat;
    background-size: 60px;
    width: 60px;
    height: 70px;
    position: absolute;
    top: -26px;
    right: -21px
}

#main {
    margin-top: 40px
}

.gray-div {
    background-color: slategray;
    font-size: 25px;
    cursor: pointer
}

.gray-div:after {
    background: url("ball.png") no-repeat;
    background-size: 40px;
    width: 43px;
    height: 50px;
    top: -20px;
    left: -15px
}

.brown-div {
    background-color: darkgoldenrod;
    max-width: 470px;
    word-wrap: break-word;
    text-align: justify;
    font-size: 23px;
    font-family: cuprum, arial, sans-serif
}

.brown-div:after {
    background: url("bird.png") no-repeat;
    background-size: 38px;
    width: 43px;
    height: 50px;
    top: -15px;
    right: -23px
}

span {
    font-family: 'exo 2', arial, sans-serif;
    font-size: 16px
}

.connect {
    padding-bottom: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s
}

.button {
    background-color: seagreen;
    cursor: pointer
}

.button:after {
    background: url("bells.png") no-repeat;
    background-size: 40px;
    width: 43px;
    height: 50px;
    top: -14px;
    right: -22px
}

a {
    text-decoration: none
}

.big-div {
    width: 400px
}